import(methods)
import(BiocGenerics)
importFrom(ProtGenerics, intensity, mz)
importMethodsFrom(S4Vectors, colSums, complete.cases, head, tail)

## Mass spec stuff
importFrom(mzR, openMSfile)
importMethodsFrom(mzR, peaks, header, close)

## "Base" packages

importFrom(Matrix, sparseMatrix)
importMethodsFrom(Matrix, crossprod)
importFrom(stats, approx, approxfun, dnorm, loess,
           model.matrix, predict)

## Other packages
importFrom(S4Vectors, queryHits, subjectHits)
importMethodsFrom(S4Vectors, colMeans, colSums, do.call, head,
                  is.unsorted, rowMeans, rowSums, sapply, sort, t,
                  tail)
importFrom(IRanges, IRanges, whichAsIRanges)
importMethodsFrom(IRanges, as.matrix, cor, diff, ifelse,
                  quantile, shift)

importFrom(data.table, ":=", ".N", CJ, data.table, rbindlist, setkey)
importFrom(EBImage, bwlabel)
importFrom(limma, eBayes, lmFit, topTable)
importFrom(plyr, ".", round_any)

## Export

export(getPeakInfo, getTIC, getAllXics, getDiffTable, bakedpi)
exportClass("cms")
